.textDot {
  color: #155bb8;
}
.textMagic {
  background: linear-gradient(92deg, #328ae2 13.28%, #ff0d39 91.27%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.backBtn {
  background-color: #121458;
}
