.textSpan {
  background: linear-gradient(to right, #328ae2, #ff0d39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.textDot {
  color: #155bb8;
}
